@font-face {
  font-family: 'TikTokSans';
  src: url("HelveticaNowText-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TikTokSansRegular';
  src: url("HelveticaNowText-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

/* Add additional TikTok Sans weights if you have them */
@font-face {
  font-family: 'TikTokSansBold';
  src: url("TikTokSans-Bold.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TikTokSansSemi';
  src: url("TikTokSans-SemiBold.ttf") format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'logofont';
  src: url("Harper-Bold Personal Use.otf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntSB';
  src: url("Ubuntu-Bold.ttf") format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "transforma";
  src: url("TransformaMix_Trial-SemiBold-BF660ca8e1a26a1.otf");
  font-display: swap;
  font-style: normal;
}