@font-face {
  font-family: 'TikTokSans';
  src: url("/TikTokSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Add additional TikTok Sans weights if you have them */
@font-face {
  font-family: 'TikTokSans';
  src: url("/TikTokSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TikTokSans';
  src: url("/TikTokSans-Regular.ttf") format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
